* {
  background-image: url('../src/images/terra.jpg');
  color: aliceblue;
  margin-top: 20px;
  padding: 0;
}

img {
  margin-top: 20px;
  position: relative;
  width: 150px;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  border: 1px solid white;
  color: aliceblue;
  text-align: center;
}

.divplanetcard {
  align-items: center;
  display: inline-block;
  text-align: center;
}

.App {
  text-align: center;
}

.missoes {
  border: 1px solid white;
}

.missioncards {
  border: 1px solid white;
  border-radius: 40px;
  display: inline-block;
  height: 180px;
  padding: auto;
  text-align: center;
  width: 200px;
}
