* {
  background-image: url('images/terra.jpg');
  color: aliceblue;
  font-family: Epilogue , sans-serif;
  font-size: larger;
}

body {
  height: 100%;
  text-align: center;
  width: 100%;
}

.App {
  text-align: center;
}
