* {
  align-items: flex-end;
  background-image: url('../src/images/background.png');
  color: aliceblue;
  font-size: 30px;
}

h1 {
  color: white;
  margin-top: 0;
  text-align: center;
}

h2 {
  align-items: center;
  text-align: center;
}

p {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  text-align: left;
}

.App {
  text-align: center;
}

.divplanetcard {
  display: flex;
}
